body {
  background-color: #fff;
}

.demo-logo-vertical {
  width: 80%;
  height: 32px;
  margin: 16px auto;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.ant-layout {
  background-color: #fff;
}

.site-layout-background {
  background-color: #f2f2f2;
}